body {
  font-family: 'Montserrat', sans-serif;
  color: #222;
}

.container.mt-5 {
  max-width: 95%;
}

@media (min-width: 375px) {
  div.mt-7 {
    padding-top: 185px;
  }
}

@media (min-width: 1024px) {
  div.mt-7 {
    padding-top: 70px;
  }
}

@media (min-width: 1024px) {
  div.mt-7 {
    margin-top: 130px;
  }
}

button.btn__orange--sub {
  border: 1px solid #000;
}

@media (min-width: 375px) {
  button.btn__orange--sub {
    height: 120px;
    width: 531px;
  }
}

button.btn.btn-outline-dark:hover {
  background: none;
  border: 2px solid #000;
  font-weight: 600;
}

button.navbar-toggler {
  border-color: 0;
}

button.navbar-toggler:hover, button .navbar-toggler:active {
  border-color: 0;
}

.carousel {
  position: relative;
  height: auto;
  background: #313131;
}

/**operators**/
@media (min-width: 375px) {
  div.container {
    width: 98%;
  }
}

div.container h2 {
  font-weight: 600;
}

@media (min-width: 375px) {
  div.container h2 {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  div.container h2 {
    font-size: 1.5rem;
  }
}

div.card {
  width: 100%;
  height: 100%;
}

div.courses {
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media (min-width: 375px) {
  div.courses {
    height: 500px;
  }
}

@media (min-width: 1024px) {
  div.courses {
    height: 180px;
  }
}

div.courses-img {
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) {
  h5.card-title {
    font-size: 3.25rem;
  }
}

@media (min-width: 1024px) {
  h5.card-title {
    font-size: 1.25rem;
  }
}

h5.card-title:hover {
  color: #ff4714;
  cursor: pointer;
}

p.text--orange {
  color: #ff4714;
}

@media (min-width: 375px) {
  p.description {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  p.description {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

span.text--orange {
  color: #ff4714;
}

span.btn__orange--sub {
  background-color: #ff7831;
}

@media (min-width: 375px) {
  span.p-1 {
    padding: 1.25rem;
  }
}

@media (min-width: 1024px) {
  span.p-1 {
    padding: .25rem;
  }
}

@media (min-width: 375px) {
  i {
    font-size: 50px;
    margin-left: 00px;
  }
}

@media (min-width: 1024px) {
  i {
    font-size: 18px;
    margin-left: 0px;
  }
}

/***Index landing***/
/**each - courses images**/
.courses-img.bajo {
  background-image: url(../src/images/clases/bajo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.violin {
  background-image: url(../src/images/clases/violin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.ukelele {
  background-image: url(../src/images/clases/ukelele.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.cello {
  background-image: url(../src/images/clases/cello.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.guitarra {
  background-image: url(../src/images/clases/guitarra.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.piano {
  background-image: url(../src/images/clases/piano.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.canto {
  background-image: url(../src/images/clases/canto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.bateria {
  background-image: url(../src/images/clases/bateria.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.saxofon {
  background-image: url(../src/images/clases/saxofon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.dj {
  background-image: url(../src/images/clases/dj.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.dibujo {
  background-image: url(../src/images/clases/dibujo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.flauta {
  background-image: url(../src/images/clases/flauta.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.estimulacion {
  background-image: url(../src/images/clases/estimulacion.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.produccion {
  background-image: url(../src/images/clases/produccion.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.courses-img.bajo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.violin:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.ukelele:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.cello:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.guitarra:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.piano:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.canto:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.bateria:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.saxofon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.dj:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.dibujo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.flauta:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.estimulacion:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses-img.produccion:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

p.card__text-italic {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 200;
  color: #7c7c7c;
}

.iframe {
  width: 100%;
  height: 450px;
}

/**section Nav**/
@media (min-width: 1024px) {
  nav {
    height: 70px;
    margin-top: 10px;
  }
}

nav.bg-ligth {
  background-color: #e8e8e8;
}

@media (min-width: 426px) {
  nav ul li.nav-item a {
    font-size: 3rem;
    line-height: 6rem;
  }
}

@media (min-width: 1024px) {
  nav ul li.nav-item a {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  button.navbar-toggler i {
    font-size: 5rem;
  }
}

@media (min-width: 426px) {
  button.btn__orange span {
    font-size: 2.3rem;
  }
}

@media (min-width: 1024px) {
  button.btn__orange span {
    font-size: 0.9rem;
  }
}

@media (min-width: 426px) {
  img.header__logo {
    width: 470px;
  }
}

@media (min-width: 1024px) {
  img.header__logo {
    width: 150px;
  }
}

/***Contact accordion***/
div.bg-orange-light {
  background-color: #ffd2bf;
}

div button.btn__orange {
  background-color: #ff4614;
}

@media (min-width: 426px) {
  div button.btn__orange {
    height: 90px;
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  div button.btn__orange {
    font-size: 1rem;
    height: 40px;
  }
}

div button.btn__whatsapp {
  background-color: #1bd741;
}

input.button-primary {
  border: none;
  font-size: 0.9rem;
  padding: 5px 20px 5px 20px;
}

input.button-primary.btn__orange {
  background-color: #ff4614;
}

/**Contact**/
div.container.pt-7 {
  padding-top: 60px;
}

@media (min-width: 426px) {
  h4.mb-3 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h4.mb-3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 426px) {
  h6 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@media (min-width: 1024px) {
  h6 {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 426px) {
  label.form-label {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  label.form-label {
    font-size: 1rem;
  }
}

label.card__text-italic {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
}

@media (min-width: 426px) {
  label.form-check-label {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  label.form-check-label {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  label.text-small {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  label.text-small {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  input.form-control {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  input.form-control {
    font-size: 0.9rem;
  }
}

@media (min-width: 426px) {
  input.me-2 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  input.me-2 {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  input#debit {
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  input#debit {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  input#credit {
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  input#credit {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  input#paypal {
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  input#paypal {
    font-size: 1rem;
  }
}

span.small {
  text-indent: 10px;
}

span.card__text-italic {
  font-size: 0.8rem;
  font-style: italic;
}

@media (min-width: 426px) {
  li span {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  li span {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  li strong {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  li strong {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  .text-muted {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .text-muted {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  button.btn-group-lg > .btn, button .btn-lg {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  button.btn-group-lg > .btn, button .btn-lg {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  button.btn.btn-secondary {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  button.btn.btn-secondary {
    font-size: 1rem;
  }
}

/**list jobs**/
/**The backgound on search**/
.position-relative.masthead {
  background-image: url(../src/images/bolsa-de-trabajo-back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 426px) {
  .position-relative {
    height: 495px;
  }
}

@media (min-width: 1024px) {
  .position-relative {
    height: 380px;
  }
}

.position-relative.masthead_landing {
  background-image: url(../src/images/landing-back1.jpg);
  height: 455px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-icons-icon i {
  font-size: 2rem;
}

@media (min-width: 426px) {
  img.footer__logo {
    width: 245px;
  }
}

@media (min-width: 1024px) {
  img.footer__logo {
    width: 150px;
  }
}

@media (min-width: 426px) {
  img.grupomvs1 {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  img.grupomvs1 {
    width: 100px;
    margin: 20px;
  }
}

@media (min-width: 426px) {
  img.grupomvs2 {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  img.grupomvs2 {
    width: 120px;
    margin: 32px 0 12px 2px;
  }
}

@media (min-width: 426px) {
  div .small, div small {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  div .small, div small {
    font-size: 0.89rem;
  }
}

@media (min-width: 426px) {
  i .fab {
    font-size: 2rem;
    margin: 20px;
  }
}

@media (min-width: 426px) {
  i .fab.fa-facebook-f {
    font-size: 2rem;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  i .fab.fa-facebook-f {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  i .fab.fa-youtube {
    font-size: 2rem;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  i .fab.fa-youtube {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  i .fab.fa-instagram {
    font-size: 2rem;
    padding: 15px;
  }
}

@media (min-width: 1024px) {
  i .fab.fa-instagram {
    font-size: 1rem;
  }
}

@media (min-width: 426px) {
  .masthead_landing {
    margin-top: 190px;
  }
}

@media (min-width: 1024px) {
  .masthead_landing {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=styles.css.map */