//Variables
$bg-orange-light: #ffd2bf;
$btn__orange: #ff4614;
$btn__whatsapp: #1bd741;
/***Contact accordion***/
div {
    &.bg-orange-light {
        background-color: $bg-orange-light;
    }
    button {
    &.btn__orange{
        background-color: $btn__orange;
      }
    &.btn__whatsapp{
        background-color: $btn__whatsapp;
      }
    } 
}

input {
  &.button-primary{
    border: none;
    font-size: 0.9rem;
    padding: 5px 20px 5px 20px;
    &.btn__orange {
      background-color: $btn__orange;
    }
  }
}


/**Contact**/
div {
    &.container {
        &.pt-7 {
        padding-top: 60px;
        }
    }
}

h4 {
  &.mb-3 {
    @include mobile {
      font-size: 2rem;
    }
    @include desktop{
      font-size: 1.5rem;
    } 
  }
}

label {
    &.form-label {
      @include mobile{
        font-size: 2.3rem;
    } 
    @include desktop{
      font-size: 1rem;
    }
  }
  &.card__text-italic {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
  }
}

input {
  &.form-control{
    @include mobile {
      font-size: 2.3rem;
    }
    @include desktop{
      font-size: 0.9rem;
    } 
  }
}

span {
  &.small {
    text-indent:5px + 5;
  }
  &.card__text-italic {
    font-size: 0.8rem;
    font-style: italic;
  }
}

button {
  &.btn-group-lg>.btn, .btn-lg {
    @include mobile {
      font-size: 3rem;
    }
  }
}
