img {
    &.footer__logo{
        @include mobile{
            width: 245px;
        } 
        @include desktop{
            width:150px;
        } 
    }
    &.grupomvs1{
         @include mobile{
            width: 200px;
        } 
        @include desktop{
            width: 100px;
            margin: 20px;
        } 
    }
    &.grupomvs2{
        @include mobile{
            width: 300px;
        } 
        @include desktop{
            width: 120px;
            margin: 32px 0 12px 2px;;
        }
    }
}

div{
    .small, small {
        @include mobile{
            font-size: 3rem;
        } 
        @include desktop{
            font-size: 0.89rem;
        } 
    }
}

i  {
    .fab {
        @include mobile{
            font-size: 2rem;
            margin: 20px;
        } 
        &.fa-facebook-f {
        @include mobile{
            font-size: 2rem;
            padding: 15px;
        }
        @include desktop{
            font-size: 1rem;
        } 
    }
    &.fa-youtube {
        @include mobile{
            font-size: 2rem;
            padding: 15px;
        }
        @include desktop{
            font-size: 1rem;
        } 
    }
    &.fa-instagram {
        @include mobile{
            font-size: 2rem;
            padding: 15px;
        }
        @include desktop{
            font-size: 1rem;
        } 
    }
    }
    
}

.masthead_landing{
    @include mobile{
        margin-top: 190px;
    }
    @include desktop{
        margin-top: 60px;
    } 
}

