/**list jobs**/
/**The backgound on search**/
.position-relative{
    &.masthead {
    background-image: url(../src/images/bolsa-de-trabajo-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    @include mobile{
        height: 495px;
    } 
    @include desktop{
        height: 380px;
    }
    &.masthead_landing {
    background-image: url(../src/images/landing-back1.jpg);
    height: 455px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.features-icons-icon {
    i{
        font-size: 2rem;
    }
}



.table {
    
    @include mobile{
        width: 100%;
    }

    @include desktop{
        width: 80%;
        margin: 0 auto;
    }
}

.cell {
    padding: 5px;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    @include mobile{
        font-size: 2rem;
        line-height: 4rem;
        display: block;
    }
    @include desktop{
        font-size: 1rem;
        line-height:2rem;
        display: flex;
        justify-content: space-between;
    } 
}

.modal-dialog {
    @include mobile{
        max-width: 90%;
    }
    @include desktop {
        max-width: 500px;
    }
}

