/**list jobs**/
/**The backgound on search**/
.position-relative{
    &.masthead {
    background-image: url(../src/images/bolsa-de-trabajo-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    @include mobile{
        height: 495px;
    } 
    @include desktop{
        height: 380px;
    }
    &.masthead_landing {
    background-image: url(../src/images/landing-back1.jpg);
    height: 455px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.features-icons-icon {
    i{
        font-size: 2rem;
    }
}
